@model Park
@{
    ViewData["Title"] = Model.Name;
}

<h2>@Model.Name</h2>
<img src="~/images/@Model.ImageName" />

<div class="park-info">
    @{ Type type = Model.GetType();
        System.Reflection.PropertyInfo[] properties = type.GetProperties();
        foreach (var prop in properties)
        {
            if (true)
            {

            }

            if (prop.Name == "ImageName")
            {
            }
            else
            {
                <h4><strong>@prop.Name</strong><small><br />@prop.GetValue(Model)</small></h4>
            }
        }
    }
</div>