@model IList<FavoriteParkModel>
@{
    ViewData["Title"] = "Index";
}

@if (TempData["Show_Message"] != null)
{
    <p class="alert-success text-center text-capitalize">Your survey was successfuly submitted!</p>
}
<h2 class="text-center">Favorite Parks!</h2>
<br />
<p>Add a Park Survey <a asp-controller="survey" asp-action="new">Here!</a></p>
<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th><strong>Park Name</strong></th>
            <th><strong>Survey Count</strong></th>
        </tr>
    </thead>
    @foreach (var fav in Model)
    {
        string s = "Survey";
        if (fav.SurveyCount>1)
        {
            s += "s";
        }
        <tr>
            <td><img class="survey-park-img" src="~/images/@fav.ImageName" /></td>
            <td>@fav.Name</td>
            <td>@fav.SurveyCount @s submitted</td>
        </tr>
    }
</table>
