@model IList<Survey>
@{
    ViewData["Title"] = "Index";
}

@if(TempData["Show_Message"] != null)
{
    <p class="success">Your survey was successfuly submitted!</p>
}
<h2>Index</h2>
<table class="table table-striped">
    @foreach (var survey in Model)
    {
        <tr>

        </tr>
    }


</table>
