@model Survey
@{
    ViewData["Title"] = "NewSurvey";
}

<h2>Favorite Park Survey</h2>

<form method="post" asp-action="new" asp-controller="survey">
    <div class="survey-form-park">
        <label asp-for="ParkCode">Favorite 
        National Park</label>
        <select asp-for="ParkCode" asp-items="ViewBag.ParkCodes"></select>
    </div>

    <div class="survey-form-email">
        <label asp-for="Email"></label>
        <input type="email" asp-for="Email" />
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>
    <div class="survey-form-state">
        <label asp-for="State"></label>
        <select asp-for="State" asp-items="Survey.StatesOfResidence"></select> 
    </div>
    <div class="survey-form-activity">
        <label asp-for="ActivityLevel"></label>
        <input asp-for="ActivityLevel" />
        <span class="text-danger" asp-validation-for="ActivityLevel"></span>
    </div>
    <div class="form-button">
        <button type="submit" value="Submit">Submit</button>
    </div>
</form>

