/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-bottom: 20px;
    font-family: 'Oswald', sans-serif;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
/*** NEW.CSHTML ***/
.field-validation-error {
font-weight:bold;    
}



form > * {
    margin-top: 2rem;
}

/*** DETAIL.CSHTML ***/
.detail-park-specs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.park-specs {
    margin-top:auto;
    margin-bottom:auto;
}

.weather {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:center;
    min-width:513px;
}

.weather-img {
    height:5em;
}

.forecast-day {
    width:15%;
    margin-left:1.2rem;
    margin-right:1.2rem;
}


/********************************
    HOME STYLES -- INDEX.CSHTML
*********************************/

/**{
    border: 1px solid red;
}*/

body {
    background-image: url(../images/woodgrain-bg.png);
}
header {
    height:200px;
}

#logo{
    height: 100%;
    display: inline-block;
}

#allParksHome {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
}

a:link{
    text-decoration: none;
}

.park-link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    width:45%;
    margin: 20px 0px;
    color: white;
    position: relative;
}
.park-listing {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    /*height: 100%;*/
    /*width: 100%;*/
   
}
.name-div h2 {
    margin: 0;
    vertical-align: top;
    text-shadow: 2px 2px rgb(0, 0, 0);
    /*align-self:flex-start;
    margin: 0;*/
}

.state-description{
    padding: 0px 10px;
    display: none;
}

.state-description:hover {
    padding: 0px 10px;
    display: block;
}


.paint-border-top{
    vertical-align: top;
    width: 100%;

}

.paint-border-btm {
    vertical-align: bottom;
    width: 100%;
}

#cvnp\.jpg {
    background-image: url(../images/cvnp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#enp\.jpg {
    background-image: url(../images/enp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#gcnp\.jpg {
    background-image: url(../images/gcnp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#gnp\.jpg {
    background-image: url(../images/gnp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#gsmnp\.jpg {
    background-image: url(../images/gsmnp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#gtnp\.jpg {
    background-image: url(../images/gtnp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#mrnp\.jpg {
    background-image: url(../images/mrnp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#rmnp\.jpg {
    background-image: url(../images/rmnp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#ynp\.jpg {
    background-image: url(../images/ynp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#ynp2\.jpg {
    background-image: url(../images/ynp2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}